<p id="notice"><%= notice %></p>

<p>
  <b>English:</b>
  <%= @vocable.english %>
</p>

<p>
  <b>German:</b>
  <%= @vocable.german %>
</p>

<p>
  <b>Sweden:</b>
  <%= @vocable.sweden %>
</p>


<%= link_to 'Edit', edit_vocable_path(@vocable) %> |
<%= link_to 'Back', vocables_path %>
